.board {
  background-color: $color-white;
  [class^="board__row--"] {
    height: 2.8rem;
    border-bottom: 1px solid $color-walls;
    &:first-child {
      border-top:1px solid $color-walls;
      height: 2.7rem;
    }
  }
  margin: 0rem auto 10rem auto;
  width: 100%;
  &__node {
    display: inline-block;
    width: 2.8rem;
    height: 2.7rem;
    vertical-align: bottom;
    border-right: 1px solid $color-walls;
    position: relative;
    &:first-child {
      border-left: 1px solid $color-walls;
    }
    &--front {
      width: 2.8rem;
      height: 2.8rem;
    } 
    .startNode {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      ion-icon {
        display: block;
        width: 100%;
        height: 100%;
      }
      opacity: 0;
    }
    .destNode {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;

      ion-icon {
        display: block;
        width: 100%;
        height: 100%;
      }

      opacity: 0;
    }
    .wallNode {
      position: absolute;
      display: block;
      width:100%;
      height:100%;
      background-color: $color-walls;
      opacity: 0;
    }
    .visitedNode {
      position: absolute;
      display: block;
      width:100%;
      height:100%;
      opacity: 0;

    }
    .pathNode {
      position: absolute;
      display: block;
      width:100%;
      height:100%;
      opacity: 0;
      color: $color-white;
      &__right {
        position: absolute;
        width:  100%;
        height: 100%;
      }
      &__left {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      &__up {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      &__down {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      ion-icon {
        display: none;
        opacity: 1;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__startNode{
    color: #646E68;

    .startNode {
      animation-name: animateScale;
      animation-duration: .3s;
      animation-timing-function: ease-out;
      animation-timing-function: cubic-bezier(.58, .01, .55, .99);
      opacity: 1;
    } 
  }
  &__destNode {
    color:  #845EC2;
    .destNode {
      animation-name: animateScale;
      animation-duration: .3s;
      animation-timing-function: ease-out;
      animation-timing-function: cubic-bezier(.58, .01, .55, .99);
      opacity: 1;
    }
  }
  &__wallNode {
    .wallNode {
      animation-name: animateWalls;
      animation-duration: .3s;
      animation-timing-function: ease-out;
      animation-timing-function: cubic-bezier(.58, .01, .55, .99);
      -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      opacity: 1;
    }
  }
  &__visited {
    .visitedNode {
      animation-name: animateVisited;
      animation-duration: 1.7s;
      animation-timing-function: ease-out;
      animation-timing-function: cubic-bezier(.58, .01, .55, .99);
      opacity: 1;
      background-color: $color-pink-light;
    }

    &--startNode {
      .pathNode {
        animation-name: animateWalls;
        animation-duration: .5s;
        animation-timing-function: ease-out;
        animation-timing-function: cubic-bezier(.58, .01, .55, .99);
        opacity: 1;
        background-color: $color-purple-dark;
        -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
        -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
        box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      }

      .startNode {
        color: $color-white;
        z-index: 999;
      }
    }

    &--destNode {
      .pathNode {
        animation-name: animateWalls;
        animation-duration: .5s;
        animation-timing-function: ease-out;
        animation-timing-function: cubic-bezier(.58, .01, .55, .99);
        opacity: 1;
        background-color: $color-purple-dark;
        -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
        -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
        box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      }

      .destNode {
        color: $color-white;
        z-index: 999;
      }
    }


  }
  &__path {
    .pathNode {
      animation-name: animatePath;
      animation-duration: .4s;
      animation-timing-function: ease-out;
      animation-timing-function: cubic-bezier(.58, .01, .55, .99);
      opacity: 1;
      background-color: $color-purple-dark;
      -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    }
    &--startNode {
      .pathNode {
        animation-name: animateWalls;
        animation-duration: .3s;
        animation-timing-function: ease-out;
        animation-timing-function: cubic-bezier(.58, .01, .55, .99);
        opacity: 1;
        background-color: $color-purple-dark;
        -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
        -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
        box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      }
      .startNode {
        color: $color-white;
        z-index: 999;
      }
    }
    &--destNode {
      .pathNode {
        animation-name: animateWalls;
        animation-duration: .3s;
        animation-timing-function: ease-out;
        animation-timing-function: cubic-bezier(.58, .01, .55, .99);
        opacity: 1;
        background-color: $color-purple-dark;
        -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
        -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
        box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      }

      .destNode {
        color: $color-white;
        z-index: 999;
      }
    }

    &--right {
      .pathNode {
        &__right{
          ion-icon {
            display: block;
          }
        }
      }
    }
    &--left {
      .pathNode {
        &__left {
          ion-icon {
            display: block;
          }
        }
      }
    }
    &--up {
      .pathNode {
        &__up {
          ion-icon {
            display: block;
          }
        }
      }
    }
    &--down {
      .pathNode {
        &__down {
          ion-icon {
            display: block;
          }
        }
      }
    }
  }

}


