.nav {
  background-image: linear-gradient(to bottom,$color-purple-dark, $color-purple-dark);
  
  &__ul {
    list-style: none;
    color: $color-nav-text;
    &--item {
      display: inline-block;
      padding: .8rem 2rem;
      font-size: 2rem;
    }
  }

}

