.board {
  [class^="board__row--"] {
    height: $board-width/50;
  }
  padding: 10rem 0;
  width: $board-width;
  margin: 0 auto;
  &__node {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: $board-width/50;
    height: $board-width/50;

    &--content {
      width: $board-width/50;
      height: $board-width/50;
      border: 1px solid $color-primary-light;
      transition: all .5s;
    }
  }
  &__startNode {
    background-color: $color-secondary-light;
  }
  &__destNode {
    background-color: $color-secondary-dark;
  }
  &__wallNode {
    background-color: $color-primary-dark;
  }
}

