.board {
  [class^="board__row--"] {
    height: $board-width/50;
    border-bottom: 1px solid $color-walls;
    &:first-child {
      border-top:1px solid $color-walls;
    }
  }
  padding: 10rem 0;
  width: $board-width;
  margin: 0 auto;
  &__node {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: $board-width/50;
    height: $board-width/50;
    border-right: 1px solid $color-walls;
    position: relative;
    &:first-child {
      border-left: 1px solid $color-walls;
    }
    // transition: all .3s;
    &--front {
      width: $board-width/50;
      height: $board-width/50;
    } 
    .startNode {
      // @include absCenter;
      display: block;
      width: 100%;
      height: 100%;
      ion-icon {
        display: block;
        width: 100%;
        height: 100%;
      }
      // transform: translate(-47%, -47%);
      opacity: 0;
    }
  }
  &__startNode{
    color: #646E68;
    animation-name: animateScale;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-timing-function: cubic-bezier(.58, .01, .55, .99);

    .startNode {
      opacity: 1;
    } 
  }
  &__destNode {
    background-color: #845EC2;
  }
  &__wallNode {
    background-color: $color-walls;
  }
}

