@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.row {
  max-width: 134rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc( (100% - 2*6rem)/3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2*6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc( (100% - 3*6rem)/4); }
  .row .col-2-of-4 {
    width: calc( 2 *((100% - 3*6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3*6rem)/4) + 2*6rem); }

.board {
  padding: 10rem 0;
  width: 140rem;
  margin: 0 auto; }
  .board [class^="board__row--"] {
    height: 2.8rem; }
  .board__node {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem; }
    .board__node--content {
      width: 2.8rem;
      height: 2.8rem;
      border: 1px solid #7ed56f;
      transition: all .5s; }
  .board__startNode {
    background-color: #ffb900; }
  .board__destNode {
    background-color: #ff7730; }
  .board__wallNode {
    background-color: #28b485; }
