@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes animateScale {
  0% {
    transform: scale(0.4); }
  75% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes animateWalls {
  0% {
    opacity: 0;
    transform: scale(1); }
  75% {
    opacity: 1;
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes animateVisited {
  0% {
    opacity: 0; }
  1% {
    opacity: 1;
    transform: scale(0.5);
    background-color: #fff9b0; }
  25% {
    opacity: 1;
    background-color: #EAEFB1; } }

@keyframes animatePath {
  0% {
    opacity: 1;
    background-color: #EAEFB1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f8f8f8; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.row {
  max-width: 140rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc( (100% - 2*6rem)/3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2*6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc( (100% - 3*6rem)/4); }
  .row .col-2-of-4 {
    width: calc( 2 *((100% - 3*6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3*6rem)/4) + 2*6rem); }

.board {
  background-color: #fff;
  margin: 0rem auto 10rem auto;
  width: 100%; }
  .board [class^="board__row--"] {
    height: 2.8rem;
    border-bottom: 1px solid #C9C5CB; }
    .board [class^="board__row--"]:first-child {
      border-top: 1px solid #C9C5CB;
      height: 2.7rem; }
  .board__node {
    display: inline-block;
    width: 2.8rem;
    height: 2.7rem;
    vertical-align: bottom;
    border-right: 1px solid #C9C5CB;
    position: relative; }
    .board__node:first-child {
      border-left: 1px solid #C9C5CB; }
    .board__node--front {
      width: 2.8rem;
      height: 2.8rem; }
    .board__node .startNode {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .board__node .startNode ion-icon {
        display: block;
        width: 100%;
        height: 100%; }
    .board__node .destNode {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .board__node .destNode ion-icon {
        display: block;
        width: 100%;
        height: 100%; }
    .board__node .wallNode {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #C9C5CB;
      opacity: 0; }
    .board__node .visitedNode {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0; }
    .board__node .pathNode {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      color: #fff; }
      .board__node .pathNode__right {
        position: absolute;
        width: 100%;
        height: 100%; }
      .board__node .pathNode__left {
        position: absolute;
        width: 100%;
        height: 100%; }
      .board__node .pathNode__up {
        position: absolute;
        width: 100%;
        height: 100%; }
      .board__node .pathNode__down {
        position: absolute;
        width: 100%;
        height: 100%; }
      .board__node .pathNode ion-icon {
        display: none;
        opacity: 1;
        width: 100%;
        height: 100%; }
  .board__startNode {
    color: #646E68; }
    .board__startNode .startNode {
      animation-name: animateScale;
      animation-duration: .3s;
      animation-timing-function: ease-out;
      animation-timing-function: cubic-bezier(0.58, 0.01, 0.55, 0.99);
      opacity: 1;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0); }
  .board__destNode {
    color: #ffab73; }
    .board__destNode .destNode {
      animation-name: animateScale;
      animation-duration: .3s;
      animation-timing-function: ease-out;
      animation-timing-function: cubic-bezier(0.58, 0.01, 0.55, 0.99);
      opacity: 1;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0); }
  .board__wallNode .wallNode {
    animation-name: animateWalls;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    opacity: 1;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
  .board__visited .visitedNode {
    animation-name: animateVisited;
    animation-duration: 1.7s;
    animation-timing-function: ease-out;
    animation-timing-function: cubic-bezier(0.58, 0.01, 0.55, 0.99);
    opacity: 1;
    background-color: #f7d6e0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
  .board__visited--startNode .pathNode {
    animation-name: animateWalls;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-timing-function: cubic-bezier(0.58, 0.01, 0.55, 0.99);
    opacity: 1;
    background-color: #ffab73;
    -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75); }
  .board__visited--startNode .startNode {
    color: #fff;
    z-index: 999; }
  .board__visited--destNode .pathNode {
    animation-name: animateWalls;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-timing-function: cubic-bezier(0.58, 0.01, 0.55, 0.99);
    opacity: 1;
    background-color: #ffab73;
    -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75); }
  .board__visited--destNode .destNode {
    color: #fff;
    z-index: 999; }
  .board__path .pathNode {
    animation-name: animatePath;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-timing-function: cubic-bezier(0.58, 0.01, 0.55, 0.99);
    opacity: 1;
    background-color: #F7D488;
    -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75); }
  .board__path--startNode .pathNode {
    animation-name: animateWalls;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-timing-function: cubic-bezier(0.58, 0.01, 0.55, 0.99);
    opacity: 1;
    background-color: #77567A;
    -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75); }
  .board__path--startNode .startNode {
    color: #fff;
    z-index: 999; }
  .board__path--destNode .pathNode {
    animation-name: animateWalls;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-timing-function: cubic-bezier(0.58, 0.01, 0.55, 0.99);
    opacity: 1;
    background-color: #77567A;
    -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
    box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75); }
  .board__path--destNode .destNode {
    color: #fff;
    z-index: 999; }
  .board__path--right .pathNode__right ion-icon {
    display: block; }
  .board__path--left .pathNode__left ion-icon {
    display: block; }
  .board__path--up .pathNode__up ion-icon {
    display: block; }
  .board__path--down .pathNode__down ion-icon {
    display: block; }

.nav {
  background-image: linear-gradient(to right, #F7D488, #F7D488); }
  .nav::after {
    content: "";
    display: table;
    clear: both; }
  .nav__ul {
    display: inline-block;
    list-style: none; }
    .nav__ul--item {
      display: inline-block;
      padding: 0 2rem;
      font-size: 2rem; }
  .nav__dropdown {
    padding: 0 2rem;
    display: inline-block;
    width: 25rem;
    position: relative;
    text-align: center; }
    .nav__dropdown--ul {
      list-style: none;
      position: absolute;
      background-image: linear-gradient(to bottom, #fff, #fff);
      box-shadow: rgba(247, 212, 136, 0.38) 6px 2px 16px 0px, rgba(247, 212, 136, 0.5) -6px -2px 16px 0px;
      border-radius: 4px;
      z-index: 9999;
      pointer-events: none;
      opacity: 0;
      transition: all .2s ease;
      transform: translateY(-10px); }
      .nav__dropdown--ul--item {
        display: inline-block;
        padding: 0 2rem; }
    .nav__dropdown--li {
      text-align: center; }
    .nav__dropdown--anchor:focus + .nav__dropdown--ul {
      opacity: 1;
      pointer-events: all !important;
      transform: translateY(0); }
    .nav__dropdown ion-icon {
      display: inline-block;
      position: absolute;
      right: 5.5rem;
      top: 2.2rem; }

a:focus {
  pointer-events: auto; }

.btn-solid {
  background-color: #fff;
  color: #303030;
  font-weight: 400; }
  .btn-solid, .btn-solid:link, .btn-solid:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    border-radius: 10rem;
    transition: transform 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn-solid:hover {
    transform: translateY(-0.2rem);
    color: #ffab73;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn-solid:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn-solid:active, .btn-solid:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn-solid::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: #fff; }
  .btn-solid--animated {
    animation-name: moveInBottom;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards; }

.btn {
  color: #303030;
  font-weight: 400;
  opacity: 1; }
  .btn, .btn:link, .btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 2rem;
    margin: 0 3rem;
    transition: transform 0.2s;
    font-size: 1.6rem;
    border-bottom: 3px solid transparent;
    cursor: pointer; }
  .btn:hover {
    opacity: .8;
    border-bottom: 3px solid #ffab73; }

.btn-dropdown {
  color: #303030;
  font-weight: 400; }
  .btn-dropdown, .btn-dropdown:link, .btn-dropdown:visited {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    transition: transform 0.2s;
    font-size: 1.4rem;
    cursor: pointer; }
  .btn-dropdown:hover {
    color: #303030;
    opacity: .7;
    background-color: rgba(214, 212, 212, 0.781); }

.lowerNav {
  background-color: #fff;
  padding: 1rem 5rem;
  margin-bottom: 2rem; }
  .lowerNav__logo {
    float: left;
    display: inline-block;
    margin-right: 2rem; }
    .lowerNav__logo img {
      display: inline-block;
      padding: 1rem;
      width: 80px;
      height: 60px; }
  .lowerNav__text {
    display: inline-block; }
  .lowerNav__heading {
    text-transform: uppercase;
    backface-visibility: hidden; }
    .lowerNav__heading--main {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1.3rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in; }
    .lowerNav__heading--sub {
      color: #ffab73;
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 1.1rem;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-in; }
  .lowerNav__item {
    padding: 2rem 3rem;
    position: relative;
    float: left; }
    .lowerNav__item [class^="lowerNav__item--icon"] {
      display: inline-block;
      position: absolute;
      padding-right: 1rem; }
      .lowerNav__item [class^="lowerNav__item--icon"] ion-icon {
        font-size: 250%;
        padding: 0; }
    .lowerNav__item--icon-startNode ion-icon {
      color: #646E68; }
    .lowerNav__item--icon-destNode ion-icon {
      color: #ffab73; }
    .lowerNav__item [class^="lowerNav__item--node"] {
      position: absolute;
      display: inline-block;
      width: 2.8rem;
      height: 2.8rem;
      border: 1px solid #C9C5CB;
      padding-right: 1rem;
      margin-right: 2rem; }
    .lowerNav__item--node-wall {
      -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      background-color: #C9C5CB; }
    .lowerNav__item--node-visited {
      background-color: #f7d6e0; }
    .lowerNav__item--node-path {
      background-color: #F7D488;
      -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75);
      box-shadow: 4px 4px 14px 0px rgba(50, 50, 115, 0.75); }
    .lowerNav__item--node-current {
      position: relative; }
      .lowerNav__item--node-current-inner {
        position: absolute;
        bottom: -1px;
        right: -21px;
        display: inline-block;
        transform: scale(0.5);
        background-color: #fff9b0; }
    .lowerNav__item--text {
      padding-left: 4rem;
      display: inline-block;
      font-size: 150%; }
  .lowerNav::after {
    content: "";
    display: table;
    clear: both; }
