//COLORS

$color-nav-text: #646E68;
$color-white: #fff;
$color-black: #000;
$color-lines: #C9C5CB;
$color-walls: #C9C5CB;

//FONT 
$default-font-size: 1.6rem;

//BOARD 
$board-width: 140rem;

// GRID 
$grid-width: 134rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
