//COLORS

$color-white: #fff;
$color-whiteGrey: rgb(248, 248, 248);
$color-black-dark: #000;
$color-black-light: rgb(48, 48, 48);
$color-lines: #C9C5CB;
$color-walls: #C9C5CB;


// NEW COLORS 
$color-golden-primary: #F7D488;
$color-golden-primary-faded: #EAEFB1;
$color-orange-primary: #ffab73;
$color-orange-gold: #f9A602;
$color-lemon-primary: #fff9b0;
$color-pink-light: #f7d6e0;
$color-purple-light: #d0d1ff;
$color-purple-mild: #b8b8ff;
$color-purple-dark: #77567A;
//ANIMATION 

$color-grey-light: rgba(214, 212, 212, 0.781);

//FONT 
$default-font-size: 1.6rem;

//BOARD 
$board-width: 140rem;

// GRID 
$grid-width: 140rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FOOTER
$color-grey-dark: #333;
$color-grey-light: #777;
$color-grey-light-1: #f7f7f7;