//COLORS

$color-white: #fff;
$color-whiteGrey: rgb(248, 248, 248);
$color-black-dark: #000;
$color-black-light: rgb(48, 48, 48);
$color-lines: #C9C5CB;
$color-walls: #C9C5CB;


//ANIMATION 
$color-flu-light: #eaf2d7;
$color-cream-purple-light: #f5efff;
$color-cream-purple-dark: #e5d9f2;
$color-pink-ultra-light: #ebd6dd;
$color-pink-light: #f7d6e0;
$color-pink-dark: #d17691;
$color-flu-pink: #efcfe3;
$color-purple-light: #d0d1ff;
$color-purple-mild: #b8b8ff;
$color-purple-dark: #77567A;
$color-grey-light: rgba(214, 212, 212, 0.781);

//FONT 
$default-font-size: 1.6rem;

//BOARD 
$board-width: 140rem;

// GRID 
$grid-width: 134rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
